.custom-hover {
  transition: border 0.3s ease;
}

.custom-hover:hover {
  border: 2px solid rgb(28, 28, 28);
  border-radius: 10px; /* Optional */
}
.th{
    text-decoration: none;
}
body{
  background-image: url(https://i.pinimg.com/736x/94/ae/ad/94aead3c9042761424d0e55fdf91b497.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
li{
    font-size: larger;
    font-weight: 300;
    font-family: initial;
 }
